services:
  nginx:
    image: nginx:1.25-alpine
    ports: ["${HOST_PORT:-80}:80"]
    volumes:
      # Inject *whatever folder we call the script from*
      - ${CODE_DIR:?err}:/var/www/site:ro
      - ./docker/nginx.conf.tmpl:/etc/nginx/templates/default.conf.template:ro
    depends_on: [apache]

  apache:
    build:
      context: ./docker/apache
      args:
        PHP_VERSION: ${PHP_VERSION:-8.4}
    expose: ["9000"]
    volumes:
      - ${CODE_DIR:?err}:/var/www/site

  mariadb:
    image: mariadb:${MYSQL_VERSION:-10.6}
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devdb
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpass
    volumes:
      - db_data:/var/lib/mysql
    ports: ["${MYSQL_PORT:-3306}:3306"]

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mariadb
    ports: ["${PMA_PORT:-8081}:80"]

volumes:
  db_data: